<!Doctype html>
<html>
<title>PantoMath</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script  src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://tympanus.net/Development/ButtonComponentMorph/css/demo.css" />
   <link rel="stylesheet" type="text/css" href="https://tympanus.net/Development/ButtonComponentMorph/css/component.css" />
   <script src="https://tympanus.net/Development/ButtonComponentMorph/js/modernizr.custom.js"></script>
<link rel="stylesheet" href="/assets\style.css" type='text/css'>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

</style>
<style>
.hameid-loader-overlay {
    width: 100%;
    height: 100%;
    background: url('/image/giphy.gif') center no-repeat #FFF;
    z-index: 99999;
    position: fixed;
}
</style>
  <script>
      jQuery(window).load(function(){
          jQuery(".hameid-loader-overlay").fadeOut(5000);
      });
  </script>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
<script>
$(function(){
	$(".typed").typed({
		strings: ["Movie.", "Song.", "Game.", "Artist.", "Anime.", "Manga."],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 30,
		// time before typing starts
		startDelay: 1200,
		// backspacing speed
		backSpeed: 20,
		// time before backspacing
		backDelay: 500,
		// loop
		loop: true,
		// false = infinite
		loopCount: 5,
		// show cursor
		showCursor: false,
		// character for cursor
		cursorChar: "|",
		// attribute to type (null == text)
		attr: null,
		// either html or text
		contentType: 'html',
		// call when done callback function
		callback: function() {},
		// starting callback function before each string
		preStringTyped: function() {},
		//callback for every typed string
		onStringTyped: function() {},
		// callback for reset
		resetCallback: function() {}
	});
});

</script>
<body>


<div class="hameid-loader-overlay"></div>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-purple w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-purple" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
     <a href="#home" style="text-decoration:none;" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="#movie" style="text-decoration:none;" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Movie</a>
    <a href="#song" style="text-decoration:none;" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Lyrics</a>
    <a href="#game" style="text-decoration:none;" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Game </a>
    <a href="#artist"style="text-decoration:none;"  class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Artist </a>
    <a href="#anime" style="text-decoration:none;" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Anime</a>
    <a href="#manga" style="text-decoration:none;" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Manga</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-purple w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#movie" style="text-decoration:none;" class="w3-bar-item w3-button w3-padding-large">Movie</a>
    <a href="#song" style="text-decoration:none;" class="w3-bar-item w3-button w3-padding-large">Lyrics</a>
    <a href="#game" style="text-decoration:none;" class="w3-bar-item w3-button w3-padding-large">Game </a>
    <a href="#artist" style="text-decoration:none;" class="w3-bar-item w3-button w3-padding-large">Artist </a>
    <a href="#anime" style="text-decoration:none;" class="w3-bar-item w3-button w3-padding-large">Anime</a>
    <a href="#manga" style="text-decoration:none;" class="w3-bar-item w3-button w3-padding-large">Manga</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center"style="padding:128px 16px;font-color:white;" id="home">

  <h1  class="w3-margin " style="color:white;">PantoMath</h1>

  <h1  style="color:black;font-size:25px;">Search About <span class="typed"></span></h1>
		</div>

  <button class="w3-button w3-white w3-padding-large w3-large w3-margin-top" "#scroll"><a href="#scroll" style="text-decoration:none;">Get Started</a></button>
  <br />
  <br />
</header>



<!-- First Grid -->
<div id="movie"class="w3-row-padding w3-padding-64 w3-container">
  <div id="scroll"class="w3-content">
    <div class="w3-twothird">
      <h1>Movie</h1>
      <h5 class="w3-padding-32" style="font-family:Courier, monospace;">“The whole of life is just like watching a film. Only it's as though you always get in ten minutes after the big picture has started, and no-one will tell you the plot, so you have to work it out all yourself from the clues.”
<br /><br />― Terry Pratchett, Moving Pictures<br />
<br /  >Search About Any Movie Just By One Click!!!</h5>
        <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Movie</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH A MOVIE </h1>

                      <form class="content-style-form"action="/results" method="get">
                        <br />
                        <br />
                        <center>  <input type="text" placeholder="Enter Movie Name" name="search" >

                        <input class="button" type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>

    </div>

    <div class="w3-third w3-center">
      <i style="font-size:200px"class="fa fa-film w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div id="song"class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i style="font-size:200px" class="fa fa-music w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Song Lyrics</h1>
      <h5 class="w3-padding-32" style="font-family:Courier, monospace;">“Every heart sings a song, incomplete, until another heart whispers back. Those who wish to sing always find a song. At the touch of a lover, everyone becomes a poet.”
<br />
<br>― Plato<br /><br />Search Any Song Lyrics Just By One Click!!!</h5>
      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Song Lyrics</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH Song lyrics</h1>

                      <form class="content-style-form"action="/lyrics" method="get">
                        <br />
                        <br />
                        <center>
                          <input type="text" placeholder="Enter Artist Name" name="search" >
                          <br />
                          <br />
                          <input type="text" placeholder="Enter Song" name="song" >
                        <input  type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>

<!-- First Grid -->
<div id="game" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Games</h1>
      <h5 class="w3-padding-32" style="font-family:Courier, monospace;">Everything on earth is a game. A passing thing. We all end up dead. We all end up the same, don't we?
         <br /><br />-Pele<br /><br />Search About Any Game Just By One Click!!!
</h5>

      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Game</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH Any Game </h1>
                      <br />
                      <br />
                      <form class="content-style-form"action="/Games" method="get">

                        <center>  <input type="text" placeholder="Enter Game Name" name="search" >

                        <input class="button" type="submit">
                      </center>

                      </form>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="w3-third w3-center">
      <i style="font-size:200px"class="fa fa-gamepad w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div id="artist" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i style="font-size:200px" class="fa fa-user w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Artist</h1>
      <h5 class="w3-padding-32" style="font-family:Courier, monospace;">“You might as well ask an artist to explain his art, or ask a poet to explain his poem. It defeats the purpose. The meaning is only clear thorough the search.”
<br /><br />― Rick Riordan<br /><br />Search About Any Artist Just By One Click!!!</h5>
      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Artist</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH About Any Artist </h1>

                      <form class="content-style-form"action="/artist" method="get">
                        <br />
                        <br />
                        <center>  <input type="text" placeholder="Enter Artist Name" name="search" >

                        <input class="button" type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>

<!-- First Grid -->
<div id="anime" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>ANiME</h1>
      <h5 class="w3-padding-32" style="font-family:Courier, monospace;">I want to have the fun of doing anime and I love anime, but I can't do storyboards because I can't really draw and that's what they live and die on.
         <br /><br />-Quentin Tarantino<br /><br />Search About Any Anime Just By One Click!!!</h5>

      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">ANiME</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH Any Anime </h1>

                      <form class="content-style-form"action="/anime" method="get">
                        <br />
                        <br />
                        <center>  <input type="text" placeholder="Enter Any Anime Name" name="search" >

                        <input class="button" type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>

    </div>

    <div class="w3-third w3-center">
      <i style="font-size:200px" class="fa fa-font w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div id="manga" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i style="font-size:200px" class="fa fa-newspaper-o w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Manga</h1>
      <h5 class="w3-padding-32" style="font-family:Courier, monospace;">“In the world, those who break the rules are scum, but those who abandon their friends are worse than scum.”
<br /><br />― Masashi Kishimoto<br /><br />Search About Any Manga Just By One Click!!!</h5>

      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Manga</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH Any Manga</h1>

                      <form class="content-style-form"action="/manga" method="get">
                        <br />
                        <br />
                        <center>  <input type="text" placeholder="Enter any Manga" name="search" >

                        <input class="button" type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>



<div class="w3-container w3-black w3-center  w3-padding-64">
  <h1>Quicks Links</h1>
  <div class="row">
    <div class="col-sm">
      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Movie</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH A MOVIE </h1>

                      <form class="content-style-form"action="/results" method="get">
                        <br />
                        <br />
                        <center>  <input type="text" placeholder="Enter Movie Name" name="search" >

                        <input class="button" type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Song Lyrics</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH Song lyrics</h1>

                      <form class="content-style-form"action="/lyrics" method="get">
                        <br />
                        <br />
                        <center>
                          <input type="text" placeholder="Enter Artist Name" name="search" >
                          <br />
                          <br />
                          <input type="text" placeholder="Enter Song" name="song" >
                        <input  type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Game</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH Any Game </h1>
                      <br />
                      <br />
                      <form class="content-style-form"action="/Games" method="get">

                        <center>  <input type="text" placeholder="Enter Game Name" name="search" >

                        <input class="button" type="submit">
                      </center>

                      </form>

                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Artist</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH About Any Artist </h1>

                      <form class="content-style-form"action="/artist" method="get">
                        <br />
                        <br />
                        <center>  <input type="text" placeholder="Enter Artist Name" name="search" >

                        <input class="button" type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Anime</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH Any Anime </h1>

                      <form class="content-style-form"action="/anime" method="get">
                        <br />
                        <br />
                        <center>  <input type="text" placeholder="Enter Any Anime Name" name="search" >

                        <input class="button" type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="morph-button morph-button-overlay morph-button-fixed">
          <button type="button">Manga</button>
          <div class="morph-content">
              <div>
                  <div class="content-style-overlay">
                      <span class="icon icon-close">Close the overlay</span>
                      <h1> SEARCH Any Manga</h1>

                      <form class="content-style-form"action="/manga" method="get">
                        <br />
                        <br />
                        <center>  <input type="text" placeholder="Enter any Manga" name="search" >

                        <input class="button" type="submit">
                      </center>
                      </form>

                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center ">

 <p >Designed by <a class="w3-xlarge w3-white" href="http://mayanksharma.herokuapp.com" target="_blank">Mayank Sharma</a></p>
 <div class="w3-xlarge w3-padding-32">
   <a  href="https://www.facebook.com/mayank.sharma.370515"style="color:white;" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>&nbsp;&nbsp;&nbsp;
  <a  href="https://www.linkedin.com/in/mayankshar/"style="color:white;" target="_blank"> <i class="fa fa-linkedin w3-hover-opacity"></i></a>&nbsp;&nbsp;&nbsp;
   <a  href="https://github.com/Mayank250199" style="color:white;" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
</div>
</footer>

<script src="https://tympanus.net/Development/ButtonComponentMorph/js/classie.js"></script>
   <script src="https://tympanus.net/Development/ButtonComponentMorph/js/uiMorphingButton_fixed.js"></script>
   <script>
       (function() {
           var docElem = window.document.documentElement,
               didScroll, scrollPosition;

           // trick to prevent scrolling when opening/closing button
           function noScrollFn() {
               window.scrollTo(scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0);
           }

           function noScroll() {
               window.removeEventListener('scroll', scrollHandler);
               window.addEventListener('scroll', noScrollFn);
           }

           function scrollFn() {
               window.addEventListener('scroll', scrollHandler);
           }

           function canScroll() {
               window.removeEventListener('scroll', noScrollFn);
               scrollFn();
           }

           function scrollHandler() {
               if (!didScroll) {
                   didScroll = true;
                   setTimeout(function() {
                       scrollPage();
                   }, 60);
               }
           };

           function scrollPage() {
               scrollPosition = {
                   x: window.pageXOffset || docElem.scrollLeft,
                   y: window.pageYOffset || docElem.scrollTop
               };
               didScroll = false;
           };

           scrollFn();

           [].slice.call(document.querySelectorAll('.morph-button')).forEach(function(bttn) {
               new UIMorphingButton(bttn, {
                   closeEl: '.icon-close',
                   onBeforeOpen: function() {
                       // don't allow to scroll
                       noScroll();
                   },
                   onAfterOpen: function() {
                       // can scroll again
                       canScroll();
                   },
                   onBeforeClose: function() {
                       // don't allow to scroll
                       noScroll();
                   },
                   onAfterClose: function() {
                       // can scroll again
                       canScroll();
                   }
               });
           });

           // for demo purposes only
           [].slice.call(document.querySelectorAll('form button')).forEach(function(bttn) {
               bttn.addEventListener('click', function(ev) {
                   ev.preventDefault();
               });
           });
       })();
   </script>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>



</body>
</html>
